@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;

}
.container{
    background: url(4c62ba-manzara-gol-lake-landscape-scaled.jpeg);
    height: 100vh;
    background-size:100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(255, 0, 128, 0.301);

}

.navbar .logo{
    display: inline-block;
    margin-left: 70px;
    margin-top : 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;

}

.navbar ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Roboto;
    transition: .5s;

}

.navbar ul li a.active,
.navbar ul li a:hover{

    background: rgb(236, 72, 173);
    border-radius: 50px;


}

.container .center{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;  
}

.center h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
   
}

.center .buttons{
    margin: 35px 280px;

}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #ffb3b3;
    background-color: rgb(207, 88, 157);
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: .5s;
}

.buttons button:hover{
    background: #fff;

}
